* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/background1.png");
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#header{
    height: 128px;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 0 4px 0;
}

#header > * {
    float: left;
}

#header h1 {
    color: #C88039;
    margin: 43px;
}

#content {
    /*background-color: #FFFFFF;*/
    background: url("../images/background4.jpg") no-repeat scroll 0 0 / 100% 100% transparent;
    border: 1px solid #000000;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 4px 0 #444444;
    padding: 11px;
    padding: 30px;
    /*margin: 55px auto;
    width: 90%;
    height: 90%;*/
    margin: 50px;
    height: 500px;
}

#iniciar-sesion ul {
    position: relative;
    width: 350px;
    float: right;
    top: 50px;
    right: 40px;
}

#iniciar-sesion li {
    /*float: left;*/
    display: inline;
    list-style-type: none;
}

#iniciar-sesion li a {
    display: inline-block;
    background: #CC7;
    text-decoration: none;
    outline: none;
    padding: 4px 14px;
    border-radius: 8px 8px 0 0;
    color: #000;
}

#iniciar-sesion li div {
    position: absolute;
    visibility: hidden;
    left: 0;
    background: #AAF;
    padding: 20px;
    border-radius: 0 8px 8px 8px;
    transition: all 0.6s ease-out;
    opacity: 0;
    border: 1px solid #500;
}

#iniciar-sesion li a:hover {
    box-shadow: 0 0 16px 0 white, 0 0 16px 0 white inset;
}

#opcion-cliente div{
    background: #AEE !important;
}

#opcion-administrador div{
    background: #CEC !important;
}

#opcion-cliente:target div , #opcion-bodega:target div , #opcion-administrador:target div {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 0 4px 0 black inset;
}

#opcion-cliente:target a , #opcion-bodega:target a , #opcion-administrador:target a {
    background: #DDD;
    padding: 7px 18px 4px;
    border: 1px solid #500;
    border-bottom: 0;
}

#iniciar-sesion input {
    font-size: 15pt;
    padding: 4px;
}






/*Seleccionar Operacion*/
#content #seleccionar-operacion {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 15px 0 #FFF inset;
    margin: -30px;
    padding: 30px;
}

#seleccionar-operacion li {
    display: inline-block;
    list-style-type: none;
    float: left;
    width: calc(100% / 2);
    height: 300px;
    text-align: center;
    font-size: xx-large;
}

#seleccionar-operacion li a {
    text-decoration: none;
    color: #333;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    background: rgba(0,0,0,0.1);
    font-weight: bold;
}

#seleccionar-operacion li a:hover {
    color: black;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0 4px 0 #000 inset;
}