/* 
    Document   : panelCliente
    Created on : 25-05-2013, 10:33:56 PM
    Author     : jorge
    Description:
        Purpose of the stylesheet follows.
*/

* {
    /*border: 0 none;*/
    margin: 0;
    padding: 0;
    text-align: left;
}

body{
     background-image: url("../images/background1.png");
     font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#nav{
	line-height:4em;
	padding: 0;
	background: #131010  repeat-x;
	margin: auto;
        list-style-type: none;
        box-shadow: 0 0 1px 1px #444444;
        width: -moz-fit-content !important;
        width: 1108px;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 0 0 4px 2px #888888 inset;
} 

#nav li {
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    margin-bottom: 1px;
    padding: 23px 50px;
}

ul#nav li:hover{
    background: repeat-x scroll 0 0 #93CD01;
    color: #FFFFFF;
}

#nav a{
    color: #EFFFC5;
    padding: 25px 0px;
    outline: medium none;
    text-decoration: none;

}

#content{
    width: 1050px;
    margin: auto;
    margin-top: 20px;
}

#info-cliente, #ubicaciones-cliente{
    background-color: #FFFFFF;
    border-color: #000000;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px 1px #444444;
    height: auto;
    padding: 11px;
    text-align: justify; 
}

#indice-usuarios{
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 1px 1px #444444;
    padding: 11px;
    padding: 30px;
    margin: 55px auto;
    width: 90%;
}


#info-cliente{
    float:left;
    width: 340px;
    } 

#ubicaciones-cliente{
    float:right;
    width: 656px;
    font-size: 1.3em;
}



#informacion-table{
    margin: 0;
}

#informacion-table td{
    height: 10px;
    width: 130px;
}

#ubicaciones-cliente > ul {
    list-style: none outside none;
}

h1{
    color: #C88039;
    font-size: 16px;
    margin: 0;
}

/*DIV Flotante*/
div#float-body {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.50);
    visibility: hidden;
    opacity: 0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear,top 0.5s;
    top: -100%;
}

/*DIV Flotante con clase activo*/
div#float-body.activo {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    top: 0;
}

div#float-body #float-body-closed {
    float: right;
    position: relative;
    right: -21px;
    top: -21px;
    opacity: 0.7;
}

div#float-body #float-body-closed:hover {
    opacity: 1;
}

div#float-body #float-body-closed a {
    outline: none;
}

div#content-float-body {
    width: 1050px;
    height: 85%;
    margin: 50px auto 0;
    background-color: #EDEDFF;
    border-radius: 8px;
    border: 4px outset #AA4;
    box-shadow: 0 0 8px 2px #335;
}

div#content-float-body #space-load{
    height: 100%;
}


/*FORMULARIO*/
div#registration h2 { margin: 0; color: #C88039; font-size: 18px;}
div#registration form{ border: 1px solid #6AB; padding: 10px 40px;}
div#registration #formEntrada > div, p { margin-top: 10px;}
div#registration form label { display: block;}
div#registration form input[name="detalle"] {color: #333;}
div#registration form input[name="detalle"]:hover {    margin-right: -600px;    position: relative;    width: 900px;    z-index: 999;}
div#registration form input[type="submit"] {padding: 8px 20px;}
div#registration form input[type="button"] {padding: 8px 20px;}
div#registration form input[type="reset"] {padding: 8px 20px;}
div#registration form input[type="text"], div#registration form input[type="password"], div#registration form select { width: 300px; border: 1px solid #ADC2D6; padding: 2px; font: 20px Arial,Helvetica,sans-serif;}
div#registration form input[type="text"]:focus, div#registration form input[type="password"]:focus, div#registration form textarea:focus, div#registration form select:focus { outline: #CFE4F8 solid 2px;}
div#registration form select option:first-child { border-bottom: 1px solid #000000;}
form .cantidad{ width: 100px !important;}
form a img{ opacity: 0.65;}
form a img:hover{ opacity: 1;}

div#registration form th {font-weight: normal;}

#div-detalle-entrada {visibility: hidden; opacity: 0; height: 0; transition: visibility 0s linear 0.5s, opacity 1s linear 0s, height 1s ease 0s, height 1s ease 0s;}
#div-detalle-entrada.active {transition-delay: 0s; visibility: visible; opacity: 1; height: auto}
/*FIN FORMULARIO*/




/* CSS - Administración de Clientes*/

#topnav{
	display:block;
	font-size:13px;
	font-weight:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
        background: none repeat-x scroll 0 0 #131010;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 0 0 4px 2px #888888 inset;
        line-height: 4em;
        list-style-type: none;
        margin: auto;
        padding: 0;
        width: -moz-fit-content !important;
}       

#topnav ul, #topnav li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	}

#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
        display:block;
	margin:0;
	padding: 25px 65px;
	color:#FFFFFF;
	}

#topnav ul ul li a:link, #topnav ul ul li a:visited{
	border:none;
	}

#topnav li.last a{
	margin-right:0;
	}
	
#topnav li li a:link, #topnav li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#FFFFFF;
        background: none repeat-x scroll 0 0 #131010 ;
	}
        
/*Color verde para lista*/	
#topnav li li a:hover{
	color:#FFFFFF;
        background: repeat-x scroll 0 0 #93CD01;
	}

#topnav li ul{
	background:#FFFFFF;
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:170px;
	border-left:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	}

#topnav li ul a{width:140px;}

#topnav li ul ul{margin:-32px 0 0 0;}

#topnav li:hover ul ul{left:-999em;}

#topnav li:hover ul, #topnav li li:hover ul{left:auto;}

#topnav li:hover{position:static;}

#topnav li.last a{margin-right:0;}

#info{
    background-color: #FFFFFF;
    border-color: #000000;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px 1px #444444;
    height: auto;
    padding: 11px;
    text-align: justify; 
    margin: 20px auto 20px;
    float:left;
    width: 1024px;
}

#form label
{
  float: left; 
  width: 200px; 
  text-align: left;
}

#form input
{
  /*width: 200px;  */ 
}

#form select
{
    width: 200px; 
}

table{ 
    margin: 10px 0 30px 0;}

table tr th, table tr td{ 
  background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td{ 
  background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;}

table{
	width:100%;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:top;
	margin-bottom:15px;
	border:1px solid #CCCCCC;
	}

table thead th{
	color:#FFFFFF;
	background-color:#666666;
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	text-align:center;
	table-layout:auto;
	vertical-align:middle;
	}

table tbody td{
	vertical-align:top;
	border-collapse:collapse;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	}
	
table thead th, table tbody td{
	padding:5px;
	border-collapse:collapse;
	}

table tbody tr.light{
	color:#666666;
	background-color:#F7F7F7;
	}

table tbody tr.dark{
	color:#666666;
	background-color:#E8E8E8;
	}

#infobox{
    float: right;
    margin-top: 30px;
    width: 320px;
        }  
        
/* CSS - Administración de Clientes*/