/* 
    Document   : estilos
    Created on : 11-06-2013, 10:39:23 AM
    Author     : alejandra
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html
{
    font-family: Calibri, Tahoma,Arial;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: transparent; color: #333; -webkit-font-smoothing: antialiased;
         background:#f2f2f2;
        
        height:100%;
        width: 100%;
        margin:0px;
        padding:0px;
}
body
{
     min-height:100%; /*width:900px;*/ margin:0 auto; padding:0px 70px; position:relative; z-index:1; background:#fff; border:1px solid #d9d9d9; border-top:none; border-bottom:none;
	-webkit-box-shadow:0 0 4px rgba(0,0,0,.3);
	   -moz-box-shadow:0 0 4px rgba(0,0,0,.3);
	        box-shadow:0 0 4px rgba(0,0,0,.3);
                
}
.boton_fijo1
{
    width:230px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 5px #555;
}

.botonreset,input[type="button"],.boton_fijo1,.estilo_boton {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
	padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom:3px;
	color:#fff;
	
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00
}

.container
{
    padding-top: 20px;
}

.boton_fijo1
{
    padding: 7px 10px;
}

h1
{
    text-shadow: 2px 2px 5px #CCC;
}
.title
{
    font-size:34px;
    text-align: left;
    line-height: 150%;
    width: 300px;
    display:block;
}

.mainimg
{
    box-shadow: 1px 1px 12px #555;
    margin:12px;
}